<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uic.webbasederp.mapper.OrderProductMapper" >
    <resultMap id="BaseResultMap" type="com.uic.webbasederp.domain.po.OrderProduct" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="order_id" property="orderId" jdbcType="INTEGER" />
        <result column="product_id" property="productId" jdbcType="INTEGER" />
        <result column="number" property="number" jdbcType="INTEGER" />
        <result column="cost" property="cost" jdbcType="DOUBLE" />
        <result column="price" property="price" jdbcType="DOUBLE" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, order_id, product_id, number, cost, price, create_time
    </sql>

    <insert id="saveOrderProduct" parameterType="OrderProduct"
            useGeneratedKeys="true" keyProperty="id">
        insert into erp_order_product
        <trim prefix="(" suffix=")">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="cost != null">
                cost,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="createTime != null">
                create_time
            </if>

        </trim>

        <trim prefix="values (" suffix=")" >
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="number != null">
                #{number,jdbcType=INTEGER},
            </if>
            <if test="cost != null">
                #{cost,jdbcType=DOUBLE},
            </if>
            <if test="price != null">
                #{price,jdbcType=DOUBLE},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <select id="getProductIdByOrderId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from erp_order_product where order_id = #{arg0}
    </select>

</mapper>